/* @font-face {
    font-family: 'SST Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SST Medium'), url('../fonts/sst-cufonfonts-webfont/SSTMedium.woff') format('woff');
} */

@font-face {
    font-family: 'SST Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SST Bold'), url('../fonts/sst-cufonfonts-webfont/SSTBold.woff') format('woff');
}

@font-face {
    font-family: 'SST Roman';
    font-style: normal;
    font-weight: normal;
    src: local('SST Roman'), url('../fonts/sst-cufonfonts-webfont/SSTRg.woff') format('woff');
    }

body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    font-family: "SST Roman", Arial, sans-serif;
}

h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
}

#featured-text {
    color: #CD3D0F;
    font-weight: bold;
}

.header-container {
    display: flex;
    align-items: center;
    margin: 10px 5%;
    font-weight: 800;
}

#header-logo {
    height: 60px;
}

.banner-container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    text-align: center;
}

.banner-container h1 {
    margin: 0;
    font: 40px 'SST Bold';
}

.banner-container h2 {
    color:#1f1f1f;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
}

.banner-container img {
    width: auto;
    height: 400px
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: auto;
    padding: 40px;
    background: #1f1f1f;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

.input-email {
    margin-top: 10px;
    padding: 0 10px;
    border: 0;
    border-radius: 15px;;
    width: 350px;
    height: 35px;
    font-size: 17px;
    color: #1f1f1f;
}

#submit-btn {
    margin-top: 15px;
    padding: 0;
    border: 0;
    border-radius: 15px;;
    height: 35px;
    width: 130px;
    background: #CD3D0F;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.4px;
}

#submit-btn:hover {
    background: #274598;
    cursor: pointer;
}

#section-3 {
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 1px dashed green; */
}

.best-games-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /* border: 1px dashed purple; */
}

.game {
    margin: 10px 10px;
    width:min-content;
    /* border: 1px solid red; */
}

.game img {
    width: auto;
    height: 230px;
}













/* 
#banner-background-image {
    display: block;
    margin: auto;
    background-image: url('../images/featured-ps5-family-bundle-montagem.jpg');
    background-position: center;
    background-size: cover;
    width: auto;
    height: 400px;
} */










/* nav {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'SST Medium';
}

nav img {
    height: 50px;
}

nav a {
    display: block;
    padding: 13px;
    text-decoration: none;
    color: #1f1f1f;
}

nav a:hover {
    color: #0172ce;
} */

